
@{
<<<<<<< HEAD
    ViewBag.Title = "Index";
}

<h2>Stack</h2>
=======
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@foreach (var AddString in ViewBag.MyStack)
{
    <p>@AddString</p>
}
>>>>>>> CoolKorean

